@{
    ViewData["Title"] = "Created";
}
<div class="" style="background-color:black; height:100vh; margin-top:30px; padding:40px;">
    <h1 class="text-center mb-4 text-success mt-5">Account Created Successfully</h1>
    <form method="post" asp-controller="FoodSite" asp-action="Index">
        <div class="d-flex justify-content-center">
    <input type="submit" style="" value="Login" class="btn btn-primary" />
    </div>
    </form>
    
</div>