@{
    ViewData["Title"] = "ErrorPage";
    
}

<div class="d-flex flex-column justify-content-between">
    <div class="text-center">
<h1 class="text-danger">Error</h1>

<h2 class="text-danger">Something went wrong please contact Admin!!!</h2>
</divt>
</div>