@using Serilog

@{
    ViewData["Title"] = "NotCreated";
    
}
<div class="" style="background-color:black; height:100vh; margin-top:30px; padding:40px;">
    <h1 class="text-center mb-4 text-danger mt-5">Invalid Username or Password!!!</h1>
    
        <div class="d-flex justify-content-center">
            @Html.ActionLink("Go Back","CreateAccount")
    </div>
    
   
    
</div>