@model Login
@{
    ViewData["Title"] = "Order";

}
<div style="background-color:black; height:100vh;">
@if(ViewBag.order=="")
{

    <h1 class="text-center mb-4 text-danger mt-5 pt-5">Invalid Order Details!</h1>
    }
else
{
    @if(ViewBag.order=="Cancel")
        {
            <h1 class="text-center mb-4 text-danger mt-5 pt-5">Cancelled!</h1>
        }
        else
        {
            <div class="d-flex justify-content-center">
    <h2 style="width:70vw;" class="mb-4 mt-5 pt-5 text-center text-success">Order Placed. It will deliver to you as soon as possible, Thankyou for your Patience</h2>
    </div>
        }
        
    
    
}
    <form method="post" asp-controller="FoodSite" asp-action="Display">
        
        <div class="d-none">
        <label style="width:80px" class="m-4" asp-for="UserName">User Id</label>
        <input placeholder="Username" class="" type="text" value="@Model.UserName" asp-for="UserName"/>
        <span class="text-danger" asp-validation-for="UserName"></span>
    </div>
    <div class="d-none">
        <label style="width:80px" class="m-4" asp-for="Password">Password</label>
        <input style="height:30px" placeholder="Password" value="@Model.Password" class="" type="password" asp-for="Password"/>
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <div class="d-flex justify-content-center">
        <input id="button" type="submit" value="Ok" class="btn btn-danger" />
        </div>
                
    </form>
</div>
